/* ----------- FONTS ----------- */
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.raleway-dots {
  font-family: "Raleway Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.thasadith-regular {
  font-family: "Thasadith", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.thasadith-bold {
  font-family: "Thasadith", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.square-peg-regular {
  font-family: "Square Peg", cursive;
  font-weight: 400;
  font-style: normal;
}
/* ----------- TEXT ----------- */
h4 {
  font-family: "square peg";
  font-size: 38px;
  margin-left: 100px;
}
p#title {
  font-family: "Raleway Dots";
  font-size: 100px;
  margin: 10px 0px 0px 0px;
}
p {
  font-family: "Raleway";
  font-size: 24px;
  margin: 0px 0px 20px 0px;
}
p.boxText {
  font-size: 34px;
  font-family: "Thasadith";
  font-weight: 700;
  text-align: center;
  margin: 0;
}
legend {
  font-family: "Raleway";
  font-size: 24px;
}
legend#L2 {
  margin-top: 25px;
}
select {
  font-family: "Raleway";
  font-size: 18px;
}
option {
  font-family: "Thasadith";
  font-size: 18px;
  font-weight: 700;
}
/* ----------- SECTIONING ----------- */
body {
  margin: 0;
  padding: 0;
  background: #E3B3C1;
  background: linear-gradient(0deg, rgba(227, 179, 193, 1) 0%, rgba(248, 231, 236, 1) 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  border: 2px solid;
  border-color: #E3B3C1;
  height: 90px;
  width: 100vw;
}
.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15%;
  padding: 0px 100px;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.title {
  margin: 10px 0 10px 10vw;
}
.hero {
  background-color: hsla(0, 0%, 100%, 0.5);
  width: 100vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 50px 0px;
}
.boxFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.optionBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 0px 10vw;
  gap: 4vw;
}
.box {
  background-color: #fff;
  width: 14vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.box:hover {
  background-color: #1e1e1e;
  color: rgba(0, 0, 0, 0);
}
.box1 {
  background-image: url(img/pplPainting.jpg);
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.box2 {
  background-image: url(img/acrylicPour.jpg);
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.box3 {
  background-image: url(img/clayCanvas2.jpg);
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.box4 {
  background-image: url(img/woodCarving.jpg);
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.box5 {
  background-image: url(img/waterColoring.jpg);
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 70vw;
  margin: auto;
}
#orderIMG {
  mix-blend-mode: overlay;
}
.formContainer {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  height: 30px;
}
footer {
  background-color: #3A7199;
  width: 100vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
/* ----------- BUTTONS ----------- */
a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  background-color: #3A7199;
  border: none;
  border-radius: 30px;
  font-family: "Raleway";
  font-size: 20px;
  height: 40px;
  width: 10em;
  color: #D0F2FF;
  text-decoration: none;
  transition: box-shadow 0.1s ease-out;
  transition: font-weight 0.1s ease-out;
  transition: transform 0.05s ease-out;
  transition: left 0.1s ease-out;
}
a:hover {
  box-shadow: 1px 2px 3px #214762;
  cursor: pointer;
  font-weight: 700;
  transform: skew(-5deg, 0deg);
  position: 10px;
  left: 3px;
}
button {
  height: 60px;
  width: 250px;
  border-radius: 25px;
  box-shadow: 1px 2px 3px #E3B3C1;
  color: #000;
  background-color: #FFFCA4;
  font-family: "Thasadith";
  font-weight: 700;
  font-size: 22px;
  padding: 5px;
  transition: transform 0.1s ease-in-out;
}
button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
a.footer-btns {
  color: #F8E7EC;
  background-color: #3A7199;
}
a.footer-btns:hover {
  box-shadow: none;
  font-weight: 400;
}